.title {
    font-family: 'Caveat', sans-serif;
    font-size:40px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    animation: glow 1.5s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #00c8ff, 0 0 15px #00c8ff, 0 0 20px #00c8ff, 0 0 25px #00c8ff, 0 0 30px #00c8ff, 0 0 35px #00c8ff;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #ff00c8, 0 0 15px #ff00c8, 0 0 20px #ff00c8, 0 0 25px #ff00c8, 0 0 30px #ff00c8, 0 0 35px #ff00c8;
    }
  }